<main>
  <section class="section section-hero section-hero-zigzag section-hero-zigzag-alt valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3" id="application_design_intro">
          <p class="pink-text text-lighten-1 center-align">Application Design</p>
          <h2 class="title grey-text text-darken-3 center-align">Redesigning Forever's Core Photo Application</h2>
          <p class="flow-text grey-text text-darken-2 center-align">Working closely with the VP of Engineering, business stakeholders, and customers, I led all aspects of a complete application redesign from project planning through responsive front-end implementation.</p>

          <p class="center-align"><%= link_to "Try it at Forever.com", 'https://www.forever.com', class: "btn-large waves-effect waves-light pink lighten-1", title: "Visit Forever.com" %></p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-highlight light-green lighten-5">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-6">
          <h5 class="pink-text text-lighten-1">Project Goals</h4>
          <ul class="browser-default list grey-text text-darken-1">
            <li><p class="list-content grey-text text-darken-3">Increase application performance and reliability</p></li>
            <li><p class="list-content grey-text text-darken-3">Simplify the user experience with an emphasis on clarity and consistency</p></li>
            <li><p class="list-content grey-text text-darken-3">Implement a responsive, mobile-first design</p></li>
            <li><p class="list-content grey-text text-darken-3">Make it easier for users to share content</p></li>
            <li><p class="list-content grey-text text-darken-3">Ensure underlying architecture is robust and scalable</p></li>
          </ul>
        </div>

        <div class="col-xs-12 col-md-6">
          <h5 class="pink-text text-lighten-1">Key Outcomes</h4>
          <ul class="browser-default list grey-text text-darken-1">
            <li><p class="list-content grey-text text-darken-3">Project completed in 6 months</p></li>
            <li><p class="list-content grey-text text-darken-3">70,000+ daily photo uploads</p></li>
            <li><p class="list-content grey-text text-darken-3">2,500+ daily active users</p></li>
            <li><p class="list-content grey-text text-darken-3">100% increase in unique daily pageviews</p></li>
            <li><p class="list-content grey-text text-darken-3">Overwhelmingly positive user feedback at <%= link_to "Forever Live!", "https://www.forever.com/live", title:"Forever Live! Conference", target: '_blank', class: 'link' %> customer conference</p></li>
          </ul>
        </div>

      </div>
    </div>
  </section>

  <section class="section-padded">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <h4 class="subtitle pink-text text-lighten-1">Background</h2>
          <p class="grey-text text-darken-3">At three years out from initial beta release Forever had gained traction with it’s market differentiating offering of guaranteed online storage. However, the core web application handling millions of user photos had usability and infrastructure challenges limiting significant future growth. As such, we focused design and engineering on an ambitious redesign that would better position the business for long-term success.</p>

          <h4 class="subtitle light-green-text">Designing for Performance</h2>

          <p class="grey-text text-darken-3">As lead designer I worked directly with our VP of Engineering at the project onset to define project goals, identify inconsistencies and critical user experience issues, and formulate a project plan that would ensure successful, timely delivery of a redesigned application that would be scalable, performant and easy for new and existing users to adopt.</p>

          <h4 class="subtitle pink-text text-lighten-1">Design Principles</h2>
          <p class="grey-text text-darken-3">To steer the design we established guiding principles by which we could evaluate workflows, features, and changes to ensure the desired outcomes. We also standardized our design process to vet and confirm the assumptions and ideas we would explore.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 center-align">
          <%= image_tag "application_design/design-principles.jpg", class: 'responsive-img', alt: 'Design Principles and Process', title: 'Design Principles and Process' %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <p class="grey-text text-darken-3">We first identified the views necessary to execute all of the application’s functionality at the lowest fidelity possible.</p>

          <p class="grey-text text-darken-3">These wireframes were coupled with a technical wiki outlining application architecture and a comprehensive project specification document developed in collaboration with our product management team. We used these resources to garner buy in and feedback from our senior leadership team as well as to begin usability testing with existing users, potential users (via usertesting.com), and internal subject matter experts.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-highlight">
    <div class="row">
      <div class="col-xs-12 center-align">
        <%= image_tag "application_design/view-diagram-whiteboard.png", class: 'responsive-img materialboxed', alt: 'UI View Type Diagrams', title: 'UI View Type Diagrams' %>
      </div>

      <div class="col-xs-12 center-align">
        <%= image_tag "application_design/view-diagram-wireframe.png", class: 'responsive-img materialboxed', alt: 'UI View Type Diagrams', title: 'UI View Type Diagrams' %>
      </div>
    </div>
  </section>

  <section class="section-padded">
    <div class="container">

      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">

          <h4 class="subtitle light-green-text">Design and Development</h2>
          <p class="grey-text text-darken-3">With the high level architecture and design in place we began developing the new application using a modular vue.js front-end that leveraged the existing <%= link_to "Forever Style Guide", "https://github.com/forever-inc/forever-style-guide/", title:"Forever Style Guide", target: '_blank', class: 'link' %> and a Ruby on Rails back-end. Our design team continued to test, iterate, and refine workflows, features, and interaction paradigms as the project was bootstrapped and scaffolded. Eventually, our designers would contribute directly to the front-end, adding much of the high-fidelity design and behavior nuances directly in the browser.</p>

          <h4 class="subtitle pink-text text-lighten-1">Native Mobile</h2>
          <p class="grey-text text-darken-3">The web application design approach was heavily informed by patterns and workflows already existing in our native iOS and Android apps, but certain changes and new features necessitated changes on mobile as well. In addition to iterating on web, our design team provided direction, wireframes, and hi-fis to evolve the native mobile apps as well. Per the established design principles, the cross-platform user experience was made more fluid and consistent.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-lg-6 center-align">
          <%= image_tag "application_design/storage-marketing-image.jpg", class: 'responsive-img', alt: 'Forever App Marketing', title: 'Forever App Marketing' %>
        </div>

        <div class="col-xs-12 col-lg-6 center-align">
          <%= image_tag "application_design/ios-preview.jpg", class: 'responsive-img', alt: 'iOS Product Marketing Detail', title: 'iOS Product Marketing Detail' %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">

          <h4 class="subtitle light-green-text">Launch Activities</h2>
          <p class="grey-text text-darken-3">I coordinated directly with product management and senior leadership on the marketing and customer support communications and activities to ensure a successful, well-positioned launch. The launch was timed to coincide with an historical low traffic period and cognizant of planned customer marketing promotions and bolstered by targeted communications to various segments of our user base.</p>

          <p class="grey-text text-darken-3">The concurrent release of updates to the web, mobile, e-commerce and application APIs were executed as planned and saw immediate increases in session duration, photo uploads and unique pageviews as well as garnering overwhelmingly positive feedback at our customer conference one month after launch.</p>

          <p><%= link_to "Try it at Forever.com", 'https://www.forever.com', class: "btn-large waves-effect waves-light pink lighten-1", title: "Visit Forever.com" %></p>

        </div>
      </div>
    </div>
  </section>

  <div class="border-top-pink section-padded">
    <div class="row">
      <div class="col-xs-12 center-align">
        <h4 class="subtitle grey-text text-darken-4">Project Gallery</h2>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 center-align">
          <div class="carousel carousel-slider">
            <div href="#one" class="carousel-item">
              <%= image_tag "application_design/library.png", alt: 'Forever Photo Library', title: 'Forever Photo Library' %>
            </div>

            <div href="#two" class="carousel-item">
              <%= image_tag "application_design/library-selection.png", alt: 'Library Selection View', title: 'Library Selection View' %>
            </div>

            <div href="#three" class="carousel-item">
              <%= image_tag "application_design/upload.png", alt: 'Photo Uploader', title: 'Photo Uploader' %>
            </div> 

            <div href="#four" class="carousel-item">
              <%= image_tag "application_design/add-to-album.png", alt: 'Add to Album Navigator', title: 'Add to Album Navigator' %>
            </div>

            <div href="#five" class="carousel-item">
              <%= image_tag "application_design/albums.png", alt: 'Album List', title: 'Album List' %>
            </div>

            <div href="#six" class="carousel-item">
              <%= image_tag "application_design/album-selection.png", alt: 'Album List Selection Mode', title: 'Album List Selection Mode' %>
            </div>

            <div href="#deven" class="carousel-item">
              <%= image_tag "application_design/tags-list.png", alt: 'Tags List', title: 'Tags List' %>
            </div>

            <div href="#eight" class="carousel-item">
              <%= image_tag "application_design/tag.png", alt: 'Tag View', title: 'Tag View' %>
            </div>

            <div href="#nine" class="carousel-item">
              <%= image_tag "application_design/profile.png", alt: 'User Profile', title: 'User Profile' %>
            </div>

            <div href="#ten" class="carousel-item">
              <%= image_tag "application_design/share.png", alt: 'Sharing Modal', title: 'Sharing Modal' %>
            </div>

            <div href="#eleven" class="carousel-item">
              <%= image_tag "application_design/friends.png", alt: 'Friends List', title: 'Friends List' %>
            </div>

            <div href="#twelve" class="carousel-item">
              <%= image_tag "application_design/friends2.png", alt: 'Friends List Card Detail', title: 'Friends List Card Detail' %>
            </div>

          </div>
        </div>
      </div>
    <div>

  </div>
</main>
