<main>
  <section class="section section-hero section-hero-zigzag section-hero-zigzag-alt2 valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3" id="ecommerce_intro">
          <p class="pink-text text-lighten-1 center-align">E-Commerce</p>
          <h2 class="title grey-text text-darken-3 center-align">Designing Product Pages, Deals, Dashboards and More</h2>
          <p class="flow-text grey-text text-darken-2 center-align">I led the design and front-end development of a complete rebuild of Forever’s e-commerce platform focused on product marketing integration and extensive dashboard features to serve a growing direct sales channel.</p>

          <p class="center-align"><%= link_to "Visit Forever.com", 'https://www.forever.com', class: "btn-large waves-effect waves-light pink lighten-1", title: "Visit Forever.com" %></p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-highlight light-green lighten-5">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-6">
          <h5 class="pink-text text-lighten-1">Project Goals</h4>
          <ul class="browser-default list grey-text text-darken-1">
            <li><p class="list-content grey-text text-darken-3">Support marketing and sales efforts by way of refreshed product landing pages and implementation of new promotional real estate</p></li>
            <li><p class="list-content grey-text text-darken-3">Design new, high-performing tools for direct sales channel</p></li>
            <li><p class="list-content grey-text text-darken-3">Refine information architecture to support breadth of product offerings and visibility of direct sales “ambassadors”</p></li>
            <li><p class="list-content grey-text text-darken-3">Move platform from Open Cart CMS to a totally custom Ruby on Rails application</p></li>
          </ul>
        </div>

        <div class="col-xs-12 col-md-6">
          <h5 class="pink-text text-lighten-1">Key Outcomes</h4>
          <ul class="browser-default list grey-text text-darken-1">
            <li><p class="list-content grey-text text-darken-3">Timely delivery in advance of high volume holiday season</p></li>
            <li><p class="list-content grey-text text-darken-3">Platform handles $7m+ in annual cash sales with peak traffic over 3,500 transactions per day</p></li>
            <li><p class="list-content grey-text text-darken-3">Over 200% growth in direct sales users</p></li>
            <li><p class="list-content grey-text text-darken-3">Enhanced promotional visibility and support for extensive monthly promotional activities</p></li>
          </ul>
        </div>

      </div>
    </div>
  </section>

  <section class="section-padded">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <h4 class="subtitle pink-text text-lighten-1">Background</h2>
          <p class="grey-text text-darken-3">Forever had seen significant revenue growth by way of both product acquisition and implementation of a direct sales channel (Forever Ambassadors). However, limitations in the current e-commerce platform were hampering growth of the channel as well as sales. I worked directly with our VP of Sales and other business stakeholders to identify opportunities for refinements and extensive new features to be implemented alongside a transition to a brand new, totally custom e-commerce application.</p>
        </div>

        <div class="col-xs-12 col-lg-10 col-lg-offset-1 center-align">
          <%= image_tag "ecommerce/forever-marketing-homepage.png", class: 'responsive-img materialboxed', alt: 'Forever Marketing Home Page', title: 'Forever Marketing Home Page' %>
        </div>

        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <h4 class="subtitle light-green-text">Product Pages, Pricing, Positioning, and Purchase Flow</h2>

          <p class="grey-text text-darken-3">Having acquired a business offering desktop photo management and digital scrapbooking software, photo book printing, and a huge catalog of digital art alongside the existing offering of permanent cloud storage and media scanning and conversion, Forever had an extensive product catalog. The products encompassed physical and digital goods and subscription products, and unique requirements for purchase, promotion, and business reporting.</p>

          <p class="grey-text text-darken-3">I led a design and development effort to standardize and componentize our marketing pages as well as develop new and refine existing pages by leveraging the <%= link_to "Forever Style Guide", "https://github.com/forever-inc/forever-style-guide/", title:"Forever Style Guide", target: '_blank', class: 'link' %> and responding to customer and stakeholder feedback, and results from remote, unmoderated testing via userstesting.com.</p>
        </div>
      </div>
    </div>
  </section>


  <section class="section-highlight">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 center-align">
          <%= image_tag "ecommerce/artisan-product-hero.png", class: 'responsive-img materialboxed', alt: 'Artisan Software Product Page', title: 'Artisan Software Product Page' %>
        </div>

        <div class="col-xs-12 col-md-6 center-align">
          <%= image_tag "ecommerce/artisan-product-page.png", class: 'responsive-img materialboxed', alt: 'Artisan Software Product Page', title: 'Artisan Software Product Page' %>
        </div>
      </div>
    </div>
  </section>

  <section class="section-padded">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <h4 class="subtitle pink-text text-lighten-1">Promotions</h2>
          <p class="grey-text text-darken-3">In addition to better positioning our products, we identified an opportunity to elevate promotions for new and existing customers. Working with our marketing team and designers we implemented a persistent featured promotion modal and deals page that leveraged existing marketing assets and afforded us an easily maintainable, consistent and flexible solution for efficiently managing monthly promotions.</p>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6 center-align">
          <%= image_tag "ecommerce/forever-marketing-promotional-modal.png", class: 'responsive-img materialboxed', alt: 'Forever Marketing Promotional Modal', title: 'Forever Marketing Promotional Modal' %>
        </div>

        <div class="col-xs-12 col-md-6 center-align">
          <%= image_tag "ecommerce/forever-marketing-deals.png", class: 'responsive-img materialboxed', alt: 'Forever Deals Page', title: 'Forever Deals Page' %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <p class="grey-text text-darken-3">We later extended this real estate to include a dedicated landing page for our wildly successful “Deal of the Day” campaign.</p>
        </div>
      </div>

    </div>
  </section>

  <section class="section-highlight">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1 center-align">
          <%= image_tag "ecommerce/forever-deal-of-the-day.png", class: 'responsive-img materialboxed', alt: 'Forever Deal of The Day Landing Page', title: 'Forever Deal of The Day Landing Page' %>
        </div>
      </div>
    </div>
  </section>


  <section class="section-padded">
    <div class="container">

      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">

          <h4 class="subtitle light-green-text">Dashboards</h2>
          <p class="grey-text text-darken-3">A key priority for the project was to support our business strategy of taking a “hard tack” to supporting and growing our direct sales channel. I worked directly with our VP of Sales to identify the necessary dashboards and reporting tools to support this channel. We also extensively vetted these reports with Engineering to ensure we could reliably populate the reports with performant, real-time data.</p>

        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6 center-align">
          <%= image_tag "ecommerce/back-office-dashboard.png", class: 'responsive-img materialboxed', alt: 'Forever Ambassador Back Office Dashboard', title: 'Forever Ambassador Back Office Dashboard' %>
        </div>

        <div class="col-xs-12 col-md-6 center-align">
          <%= image_tag "ecommerce/back-office-commission-report.png", class: 'responsive-img materialboxed', alt: 'Forever Ambassador Back Office Commission Report', title: 'Forever Ambassador Back Office Commission Report' %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6 center-align">
          <%= image_tag "ecommerce/back-office-customer-report.png", class: 'responsive-img materialboxed', alt: 'Forever Ambassador Back Office Customer Report', title: 'Forever Ambassador Back Office Customer Report' %>
        </div>

        <div class="col-xs-12 col-md-6 center-align">
          <%= image_tag "ecommerce/back-office-top-ten.png", class: 'responsive-img materialboxed', alt: 'Forever Ambassador Back Office Team Sales Top Ten', title: 'Forever Ambassador Back Office Team Sales Top Ten' %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">

          <h4 class="subtitle pink-text text-lighten-1">Information Architecture</h2>
          <p class="grey-text text-darken-3">Tying together all of the above efforts was an updated approach to our overall information architecture. A new, mega menu navigation scheme was implemented to allow users to move across product marketing, “back office” reports, user account and e-commerce settings, and also to access our photo organizing web application. Further the new nav highlighted deals, provided pathways to offsite resources like our conference micro site, help center and blog, and also elevated a user’s sales affiliate (My Ambassador) per the conventions typical of more traditional direct sales organizations.</p>
        </div>
      </div>

    </div>
  </section>

  <section class="section-highlight">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1 center-align">
          <%= image_tag "ecommerce/forever-nav-products-dropdown.png", class: 'responsive-img materialboxed', alt: 'Forever Ecommerce Products Nav', title: 'Forever Ecommerce Products Nav' %>

        </div>

        <div class="col-xs-12 col-lg-10 col-lg-offset-1 center-align">
          <%= image_tag "ecommerce/forever-nav-account-popover.png", class: 'responsive-img materialboxed', alt: 'Forever User Account Nav', title: 'Forever User Account Nav' %>
        </div>
      </div>
    </div>
  </section>

  <section class="section-padded">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">

          <h4 class="subtitle light-green-text">Launch</h2>
          <p class="grey-text text-darken-3">The new platform was launched in advance of a holiday that saw the highest sales and traffic volume in company history. We achieved significant growth in both engagement and recruiting of the direct sales channel and we were positioned to quickly iterate on and extend our e-commerce functionality in the following weeks and months.</p>

          <p><%= link_to "Visit Forever.com", 'https://www.forever.com', class: "btn-large waves-effect waves-light pink lighten-1", title: "Visit Forever.com" %></p>

        </div>
      </div>
    </div>
  </section>

  <div class="border-top-pink section-padded">
    <div class="row">
      <div class="col-xs-12 center-align">
        <h4 class="subtitle grey-text text-darken-4">Project Gallery</h2>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-xs-12 center-align">
          <div class="carousel carousel-slider">
            <div href="#one" class="carousel-item">
              <%= image_tag "ecommerce/forever-ambassador-landing-page.png", alt: 'Forever Ambassador Landing Page', title: 'Forever Ambassador Landing Page' %>
            </div>

            <div href="#two" class="carousel-item">
              <%= image_tag "ecommerce/forever-ambassador-opportunity-landing-page.png", alt: 'Forever Ambassador Opportunity Page', title: 'Forever Ambassador Opportunity Page' %>
            </div>

            <div href="#three" class="carousel-item">
              <%= image_tag "ecommerce/forever-digital-art-landing-page.png", alt: 'Forever Digital Art Landing Page', title: 'Forever Digital Art Landing Page' %>
            </div> 

            <div href="#four" class="carousel-item">
              <%= image_tag "ecommerce/forever-digital-art-category-page.png", alt: 'Forever Digital Art Category Page', title: 'Forever Digital Art Category Page' %>
            </div>

            <div href="#five" class="carousel-item">
              <%= image_tag "ecommerce/forever-media-conversion-landing-page.png", alt: 'Forever Media Conversion Landing Page', title: 'Forever Media Conversion Landing Page' %>
            </div>

            <div href="#six" class="carousel-item">
              <%= image_tag "ecommerce/forever-historian-landing-page.png", alt: 'Forever Historian Software Landing Page', title: 'Forever Historian Software Landing Page' %>
            </div>

            <div href="#seven" class="carousel-item">
              <%= image_tag "ecommerce/forever-ecommerce-order-history.png", alt: 'Forever Ecommerce User Order History', title: 'Forever Ecommerce User Order History' %>
            </div>

            <div href="#eight" class="carousel-item">
              <%= image_tag "ecommerce/forever-ecommerce-downloads.png", alt: 'Forever Ecommerce User Downloads', title: 'Forever Ecommerce User Downloads' %>
            </div>

            <div href="#nine" class="carousel-item">
              <%= image_tag "ecommerce/forever-shopping-cart.png", alt: 'Forever Ecommerce Shopping Cart', title: 'Forever Ecommerce Shopping Cart' %>
            </div>

            <div href="#ten" class="carousel-item">
              <%= image_tag "ecommerce/forever-secure-checkout.png", alt: 'Forever Ecommerce Checkout', title: 'Forever Ecommerce Checkout' %>
            </div>

            <div href="#eleven" class="carousel-item">
              <%= image_tag "ecommerce/forever-shipping-policy.png", alt: 'Forever Shipping Policy', title: 'Forever Shipping Policy' %>
            </div>

            <div href="#twelve" class="carousel-item">
              <%= image_tag "ecommerce/forever-terms-of-service.png", class: 'responsive-img materialboxed', alt: 'Forever Terms of Service', title: 'Forever Terms of Service' %>
            </div>

          </div>
        </div>
      </div>
    <div>
  </div>
</main>
