<main>
  <section class="section section-hero section-hero-zigzag section-hero-zigzag-alt2 valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3" id="growth_hacking_intro">
          <p class="pink-text text-lighten-1 center-align">Growth Hacking</p>
          <h2 class="title grey-text text-darken-3 center-align">Accelerating Business Growth with Rapid-Fire Product Design</h2>
          <p class="flow-text grey-text text-darken-2 center-align">As VP of Design & Engineering I led the strategy development, design, and execution of an aggressive product roadmap focused on transformative business growth at Forever.com.</p>

          <p class="center-align"><%= link_to "Tell a Friend", 'https://www.forever.com/referrals', class: "btn-large waves-effect waves-light pink lighten-1", title: "Visit Forever.com" %></p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-highlight light-green lighten-5">
    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-md-6">
          <h5 class="pink-text text-lighten-1">Project Goals</h4>
          <ul class="browser-default list grey-text text-darken-1">
            <li><p class="list-content grey-text text-darken-3">Deepen engagement of current users and customers</p></li>
            <li><p class="list-content grey-text text-darken-3">Increase new user sign ups and conversions</p></li>
            <li><p class="list-content grey-text text-darken-3">Launch new products and features at a regular and rapid cadence in tight coordination with marketing, sales, and support</p></li>
          </ul>
        </div>

        <div class="col-xs-12 col-md-6">
          <h5 class="pink-text text-lighten-1">Key Outcomes</h4>
          <ul class="browser-default list grey-text text-darken-1">
            <li><p class="list-content grey-text text-darken-3">100% growth daily active users</p></li>
            <li><p class="list-content grey-text text-darken-3">100% growth new user sign ups</p></li>
            <li><p class="list-content grey-text text-darken-3">13% top line cash sales growth</p></li>
            <li><p class="list-content grey-text text-darken-3">Delivery of critical platform features that support long-term business vision</p></li>
          </ul>
        </div>

      </div>
    </div>
  </section>

  <section class="section-padded">
    <div class="container">

      <div class="row">
        <div class="col-xs-12 col-md-6 center-align">
          <%= image_tag "growth_hacking/growth_hacking_roadmap_whiteboard.png", class: 'responsive-img', alt: 'Growth Hacking Strategy Whiteboards', title: 'Growth Hacking Strategy Whiteboards' %>
        </div>

        <div class="col-xs-12 col-md-6 center-align">
          <%= image_tag "growth_hacking/growth_hacking_roadmap_docs.png", class: 'responsive-img', alt: 'Growth Hacking Strategy Documents', title: 'Growth Hacking Strategy Documents' %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <h4 class="subtitle pink-text text-lighten-1">Strategy</h2>
          <p class="grey-text text-darken-3">Having spent the prior year <%= link_to 're-designing our core photo application', application_design_path, title: "Application Design Case Study", class: 'link' %>, developing our first custom online print offering, and tackling critical infrastructure initiatives, FOREVER's platform was poised for significant growth.</p>

          <p class="grey-text text-darken-3">To inform our product strategy, I led card sorting sessions with our product management, engineering, marketing, and sales teams. From these sessions, I developed a number of internal information design documents to help unify our thinking on our best opportunities to accelerate growth.</p>

          <p class="grey-text text-darken-3">We introduced a regular cadence of stakeholder meetings to ensure we maintained a 'living roadmap' and continually adapted and course corrected as we delivered and learned from each initiative. Some of the key deliverables included:</p>
        </div>

        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <ul class="browser-default list grey-text text-darken-1 row">
            <li class="col-xs-12 col-sm-6"><p class="list-content"><%= link_to 'Premium Streaming Video', 'https://www.forever.com/video', title: 'FOREVER Premium Video Plan', class: 'link' %></p></li>

            <li class="col-xs-12 col-sm-6"><p class="list-content"><%= link_to 'FOREVER Club Loyalty Program', 'https://www.forever.com/forever_club', title: 'FOREVER Club Loyalty Program', class: 'link' %></p></li>

            <li class="col-xs-12 col-sm-6"><p class="list-content"><%= link_to 'Customer Referrals', 'https://www.forever.com/app/referrals', title: 'Refer A Friend', class: 'link' %></p></li>

            <li class="col-xs-12 col-sm-6"><p class="list-content"><%= link_to 'New Print Products', 'https://www.forever.com/print', title: 'Calendars, Cards, Canvases, and Photo Books', class: 'link' %></p></li>

            <li class="col-xs-12 col-sm-6"><p class="list-content"><%= link_to 'Events Promotion & Ticketing', 'https://www.forever.com/events', title: 'Search FOREVER Public Photos and Albums', class: 'link' %></p></li>

            <li class="col-xs-12 col-sm-6"><p class="list-content"><%= link_to 'Gift Certificate Redesign', 'https://www.forever.com/gifts', title: 'FOREVER Gift Certificates', class: 'link' %></p></li>


            <li class="col-xs-12 col-sm-6"><p class="list-content"><%= link_to 'Public Directory & Search', 'https://www.forever.com/app/account-search', title: 'Search FOREVER Public Photos and Albums', class: 'link' %></p></li>

            <li class="col-xs-12 col-sm-6"><p class="list-content"><%= link_to 'Collaborative Albums', 'https://blog.forever.com/forever-blog/collaborative-albums-launch', title: 'FOREVER Collaborative Albums', class: 'link' %></p></li>
          </ul>
        </div>

        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <p class="list-content grey-text text-darken-3">Additionally, we delivered SEO and performance improvements, a redesigned primary navigation, improvements to the sign up workflow, early renewals and other subscription management features, and <em>many</em> more user experience, resiliency, and engagement features and hacks.</p>
        </div>

      </div>
    </div>
  </section>

  <section class="section-highlight">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 center-align">
          <%= image_tag "growth_hacking/forever-print-app-marketing.png", class: 'responsive-img', alt: 'FOREVER Print Custom Photo Project App Marketing Designs', title: 'FOREVER Print Custom Photo Project App Marketing Designs' %>

          <p class="grey-text text-darken-3 center-align small"><em>FOREVER Print Marketing Designs - Canvases, Cards, and Calendars</em></p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-padded">
    <div class="container">

      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <h4 class="subtitle light-green-text">A Design-led Approach</h2>
          <p class="grey-text text-darken-3">At the forefront of nearly every initiatve launched was a designer working our established process by conducting competitor and user research, aligning with business stakeholders, and coordinating with engineers to establish the possibilities, constraints, and goals of any given initiative.
          </p>

          <p class="grey-text text-darken-3">Further, we had a perpetual voice of the customer aiding in our understanding of user contexts by way of a number of learning and feedback tools. We captured and shared <%= link_to 'Zendesk', 'https://www.zendesk.com/', title: 'Zendesk Customer Support', class: 'link', target: '_blank' %> tickets daily, used <%= link_to 'Satismeter', 'https://www.satismeter.com/', title: 'Satismeter Net Promotion Tool', class: 'link', target: '_blank' %> to capture NPS scores and suggestions, participated in a number of private user Facebook groups, and conducted monthly video conferences and calls with our sales team; all in addition to regularly conducting moderated and unmoderated usability testing as well as stakeholder and customer interviews and workshops.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-highlight">
    <div class="row">
      <div class="col-xs-12 col-md-6 center-align">
        <%= image_tag "growth_hacking/collaboration-research.png", class: 'responsive-img', alt: 'FOREVER Collaborative Albums Research', title: 'FOREVER Collaborative Albums Research' %>
      </div>

      <div class="col-xs-12 col-md-6 center-align">
        <%= image_tag "growth_hacking/collaboration-concepts.png", class: 'responsive-img', alt: 'FOREVER Collaborative Albums Comps and Wireframes', title: 'FOREVER Collaborative Albums Comps and Wireframes' %>
      </div>

      <div class="col-xs-12 center-align">
        <p class="grey-text text-darken-3 center-align small"><em>Collaborative Albums - Research, Artifacts, and Concepts</em></p>
      </div>
    </div>
  </section>

  <section class="section-padded">
    <div class="container">

      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <p class="grey-text text-darken-3">By way of both developing a design team that was extremely multi-disciplinary (moving seamlessly from research to front-end code) as well as deeply involving our full cadre of engineers in the business thinking and user context, our team was architected for high-performance execution. We were well-equipped to work at whatever level of fidelity was appropriate to express and then validate a concept and then could ramp up radily into high-fidelity, consumer-grade products and features ready for release.
          </p>
        </div>
      </div>


      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">

          <h4 class="subtitle light-green-text">Ideas are Easy. Execution is Everything.</h2>
          <p class="grey-text text-darken-3">Taking extreme heed of the words of John Doerr, we had built and battle-tested an extremely high-performing design and engineering team. Having put our results and learnings from the previous year under the microscope, we recognized a major opportunity to not only deliver robust, performant, and elegantly simple product features, but to deliver these in the tightest possible concert with all other support, marketing, sales, events, and other business goings-on. We worked hard on aligning our product and business roadmap by instituting a much more frequent cadence of cross-functional check-ins, ensuring we had business owners deeply involved in the spec and testing of features within their primary scope, and continually pushed to prioritize key releases against other "running the business" activities that might have otherwise interrupted the high number of coordinated and successful launches we were able to deliver.</p>

          <p><%= link_to "Join Our Club", 'https://www.forever.com/club', class: "btn-large waves-effect waves-light pink lighten-1", title: "FOREVER Club Loyalty and Rewards Program" %></p>
        </div>
      </div>
    </div>
  </section>

  <div class="border-top-pink section-padded">
    <div class="row">
      <div class="col-xs-12 center-align">
        <h4 class="subtitle grey-text text-darken-4">Gallery</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6 center-align">
        <%= image_tag "growth_hacking/forever-club-loyalty-program.png", class: 'responsive-img', alt: 'FOREVER Club Loyalty Program Design Artifacts', title: 'FOREVER Club Loyalty Program Design Artifacts' %>
        <p class="grey-text text-darken-3 center-align small"><em>FOREVER Club Loyalty & Rewards Program - Planning Docs, Lo-Fi, and Hi-Fi Comps</em></p>
      </div>

      <div class="col-xs-12 col-md-6 center-align">
        <%= image_tag "growth_hacking/forever-gift-certificates.png", class: 'responsive-img', alt: 'FOREVER Gift Certificates', title: 'FOREVER Gift Certificates' %>
        <p class="grey-text text-darken-3 center-align small"><em>FOREVER Gift Certificates - Refreshed UI, Certificate Design Options, and Bonus Coupon Promotion</em></p>
      </div>

      <div class="col-xs-12 col-md-6 center-align l-section">
        <%= image_tag "growth_hacking/forever-events.png", class: 'responsive-img', alt: 'FOREVER Training and Customer Events', title: 'FOREVER Training and Customer Events' %>
        <p class="grey-text text-darken-3 center-align small"><em>FOREVER Events - New Landing Pages and Ticketing / Ecommerce Functionality</em></p>
      </div>

      <div class="col-xs-12 col-md-6 center-align l-section">
        <%= image_tag "growth_hacking/forever-video.png", class: 'responsive-img', alt: 'FOREVER Premium Streaming Video Plan', title: 'FOREVER Premium Streaming Video Plan' %>
        <p class="grey-text text-darken-3 center-align small"><em>FOREVER Video - Competitor and User Research, Playback States UI, and Pricing</em></p>
      </div>
    </div>

  </div>
</main>
