<main>
  <section class="section section-hero section-hero-zigzag valign-wrapper">
    <div class="container" id="home_intro">
      <div class="row middle-xs">

        <div class="col-xs-12 col-md-6 center">
          <%= image_tag "zach-schweitzer.png", class: 'responsive-img', alt: 'Zachary Schweitzer, Pittsburgh Designer', title: 'Zachary Schweitzer, Pittsburgh Designer' %>
        </div>

        <div class="col-xs-12 col-md-6 rotate-right">
          <h2 class="title title-home pink-text text-lighten-1">I'm Zach Schweitzer.</h2>
          <p class="flow-text grey-text text-darken-2">I’m a Pittsburgh native, father, dachshund wrangler, and full stack designer seeking compelling opportunities in digital design.</p>

          <%= link_to public_url('zach-schweitzer-2019.pdf'), class: "btn-large pink lighten-1", title: "Download Resume" do %>
             <span class="hide-on-small-only">Get </span>Résumé
          <% end %>
          <%= link_to '#growth_hacking', class: "btn-large light-green lighten-1 js-scroll btn-contact", title: "Contact" do %>
            <i class="material-icons right hide-on-small-only">arrow_downward</i>View Work
          <% end %>
        </div>

      </div>
    </div>
  </section>

  <section class="section section-highlight valign-wrapper">
    <div class="container">
      <div class="row middle-xs" id='growth_hacking'>

        <div class="col-xs-12 col-md-7 center">
          <%= link_to growth_hacking_path, title: 'Growth Hacking Case Study' do %>
            <%= image_tag "home/growth-hacking-design.png", class: 'responsive-img', alt: 'Growth Hacking Designs', title: 'Growth Hacking Designs', :data => { :turbolinks => "false" } %>
          <% end %>
        </div>

        <div class="col-xs-12 col-md-5 rotate-right">
          <h4 class="light-green-text">Growth Hacking</h4>
          <p class="flow-text grey-text text-darken-2">I played a key role in the leadership, design, and execution of Forever's 2018 growth roadmap across web, mobile, ecommerce, marketing, and sales.</p>

          <%= link_to "View Case Study", growth_hacking_path, class: "btn-large pink lighten-1", :data => { :turbolinks => "false" } %>
        </div>

      </div>
    </div>
  </section>

  <section class="section section-hero-zigzag section-hero-zigzag-alt  valign-wrapper">
    <div class="container">
      <div class="row reverse middle-xs" id='application_design'>

        <div class="col-xs-12 col-md-7 center">
          <%= link_to application_design_path, title: 'Application Design Case Study' do %>
            <%= image_tag "home/application-design.png", class: 'responsive-img', alt: 'Application Design', title: 'Application Design', :data => { :turbolinks => "false" } %>
          <% end %>
        </div>

        <div class="col-xs-12 col-md-5 rotate-left">
          <h4 class="pink-text text-lighten-1">Application Design</h4>
          <p class="flow-text grey-text text-darken-2">I led a complete redesign of Forever's core photo organizing application focused on improving usability and performance.</p>

          <%= link_to "View Case Study", application_design_path, class: "btn-large pink lighten-1", :data => { :turbolinks => "false" } %>
        </div>

      </div>
    </div>
  </section>

  <section class="section section-highlight valign-wrapper">
    <div class="container">
      <div class="row middle-xs" id='ecommerce'>

        <div class="col-xs-12 col-md-7 center">
          <%= link_to ecommerce_path, title: 'E-commerce Design Case Study' do %>
            <%= image_tag "home/ecommerce-design.png", class: 'responsive-img', alt: 'E-commerce Design', title: 'E-commerce Design', :data => { :turbolinks => "false" }  %>
          <% end %>
        </div>

        <div class="col-xs-12 col-md-5 rotate-left">
          <h4 class="light-green-text">E-Commerce</h4>
          <p class="flow-text grey-text text-darken-2">I designed Forever's e-commerce platform, from marketing pages and checkout flows to promotions and sales dashboards.</p>

          <%= link_to "View Case Study", ecommerce_path, class: "btn-large pink lighten-1", :data => { :turbolinks => "false" }  %>
        </div>

      </div>
    </div>
  </section>

  <section class="section section-hero-zigzag section-hero-zigzag-alt2 valign-wrapper">
    <div class="container">
      <div class="row reverse middle-xs" id='mobile'>

        <div class="col-xs-12 col-md-7 center">
          <%= link_to mobile_design_path, title: 'Mobile Onboarding Design' do %>
            <%= image_tag "home/mobile-design.png", class: 'responsive-img', alt: 'Mobile Design', title: 'Mobile Design', :data => { :turbolinks => "false" }  %>
          <% end %>
        </div>

        <div class="col-xs-12 col-md-5 rotate-right">
          <h4 class="pink-text text-lighten-1">Mobile App Design</h4>
          <p class="flow-text grey-text text-darken-2">I redesigned the Forever mobile onboarding workflow to improve clarity of options and encourage back up and autosync.</p>

          <%= link_to "View Case Study", mobile_design_path, class: "btn-large pink lighten-1", :data => { :turbolinks => "false" }  %>
        </div>

      </div>
    </div>
  </section>

  <section class="section section-highlight valign-wrapper">
    <div class="container">
      <div class="row middle-xs" id='responsive_web'>

        <div class="col-xs-12 col-md-7 center">
          <%= link_to responsive_web_path, title: 'Responsive Web Design' do %>
            <%= image_tag "home/responsive-web-design.png", class: 'responsive-img', alt: 'Responsive Web', title: 'Responsive Web', :data => { :turbolinks => "false" }  %>
          <% end %>
        </div>

        <div class="col-xs-12 col-md-5 rotate-left">
          <h4 class="light-green-text">Responsive Web Design</h4>
          <p class="flow-text grey-text text-darken-2">At Media Post Inc. I served as project manager, designer, and front-end developer, delivering responsive marketing sites and branded products.</p>

          <%= link_to "View Work", responsive_web_path, class: "btn-large pink lighten-1", :data => { :turbolinks => "false" }  %>
        </div>

      </div>
    </div>
  </section>
</main>
