<main>
  <section class="section section-hero section-hero-zigzag valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3" id="mobile_intro">
          <p class="pink-text text-lighten-1 center-align">Mobile App Design</p>
          <h2 class="title grey-text text-darken-3 center-align">Designing a Mobile Workflow that Clarifies and Converts</h2>
          <p class="flow-text grey-text text-darken-2 center-align">Responding directly to user feedback, I lead a redesign of the Forever mobile onboarding flow aimed at clarifying the available options and emphasizing the app’s key backup and auto sync features.</p>

          <p class="center-align">
            <%= link_to 'https://itunes.apple.com/us/app/forever/id808235823?ls=1&mt=8', class: "btn-large waves-effect waves-light pink lighten-1", title: "Download on the App Store" do %>
              <i class="material-icons left">tap_and_play</i>iOS
            <% end %>

            <%= link_to 'https://play.google.com/store/apps/details?id=com.forever.forever', class: "btn-large waves-effect waves-light pink darken-3", title: "Download on the App Store" do %>
              <i class="material-icons left">android</i>Android
            <% end %>
          </p>

        </div>
      </div>
    </div>
  </section>

  <section class="section-highlight light-green lighten-5">
    <div class="container">
      <div class="row ">

        <div class="col-xs-12 col-lg-6">
          <h5 class="pink-text text-lighten-1">Project Goals</h4>
          <ul class="browser-default list grey-text text-darken-1">
            <li><p class="list-content grey-text text-darken-3">Add clarity to the app’s primary configuration options (backup, auto sync, and cellular data use)</p></li>
            <li><p class="list-content grey-text text-darken-3">Position these options as key benefits of the native application</p></li>
            <li><p class="list-content grey-text text-darken-3">Make behavior, language and user experience consistent on iOS and Android</p></li>
          </ul>
        </div>

        <div class="col-xs-12 col-lg-6">
          <h5 class="pink-text text-lighten-1">Key Outcomes</h4>
          <ul class="browser-default list grey-text text-darken-1">
            <li><p class="list-content grey-text text-darken-3">Increased users performing device back up and percentage of users with auto sync enabled</p></li>
            <li><p class="list-content grey-text text-darken-3">Reduced support tickets relating to cellular data usage</p></li>
            <li><p class="list-content grey-text text-darken-3">Improved positioning and visibility of key product features</p></li>
          </ul>
        </div>

      </div>
    </div>
  </section>

  <section class="section-padded">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <h4 class="subtitle pink-text text-lighten-1">Background</h2>
          <p class="grey-text text-darken-3">By way of offering a one-time backup of all a users photos and perpetual syncing of new photos, the Forever mobile apps had critical value for onboarding and engaging users. However, discrepancies between the way these features were handled on iOS and Android, a lack of explicit instruction, and the relationship of these features to user data usage preferences was confusing users and limiting adoption.</p>
        </div>

        <div class="col-xs-12 l10 offset-l1 center-align">
          <%= image_tag "mobile/mobile-onboarding-whiteboards.png", class: 'responsive-img materialboxed', alt: 'Mobile Onboarding Whiteboard Planning', title: 'Mobile Onboarding Whiteboard Planning' %>
        </div>

        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <h4 class="subtitle light-green-text">Onboarding &amp; Re-Engaging</h2>

          <p class="grey-text text-darken-3">I worked with our mobile team lead and developers as well as our customer care team to redefine the mobile onboarding flow to clarify and better position these key features. We also surfaced the new flow as a “health check” to existing users such that they could review and adjust these settings accordingly.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-highlight">
    <div class="container">
      <div class="row">
        <div class="col-xs-6 col-md-4 col-lg-3 center-align">
          <%= image_tag "mobile/mobile-onboarding-marketing-screen1.png", class: 'responsive-img materialboxed', alt: 'Mobile Onboarding In-App Marketing Screen', title: 'Mobile Onboarding In-App Marketing Screen' %>
        </div>

        <div class="col-xs-6 col-md-4 col-lg-3 center-align">
          <%= image_tag "mobile/mobile-onboarding-marketing-screen2.png", class: 'responsive-img materialboxed', alt: 'Mobile Onboarding In-App Marketing Screen', title: 'Mobile Onboarding In-App Marketing Screen' %>
        </div>

        <div class="col-xs-6 col-md-4 col-lg-3 center-align">
          <%= image_tag "mobile/mobile-onboarding-marketing-screen3.png", class: 'responsive-img materialboxed', alt: 'Mobile Onboarding In-App Marketing Screen', title: 'Mobile Onboarding In-App Marketing Screen' %>
        </div>

        <div class="col-xs-6 col-md-4 col-lg-3 center-align">
          <%= image_tag "mobile/mobile-onboarding-login-screen.png", class: 'responsive-img materialboxed', alt: 'Mobile Onboarding Log In Screen', title: 'Mobile Onboarding Log In Screen' %>
        </div>

        <div class="col-xs-6 col-md-4 col-lg-3 center-align">
          <%= image_tag "mobile/mobile-onboarding-backup.png", class: 'responsive-img materialboxed', alt: 'Mobile Onboarding Back Up Option', title: 'Mobile Onboarding Back Up Option' %>
        </div>

        <div class="col-xs-6 col-md-4 col-lg-3 center-align">
          <%= image_tag "mobile/mobile-onboarding-auto-sync.png", class: 'responsive-img materialboxed', alt: 'Mobile Onboarding Auto Sync Option', title: 'Mobile Onboarding Auto Sync Option' %>
        </div>

        <div class="col-xs-6 col-md-4 col-lg-3 center-align">
          <%= image_tag "mobile/mobile-onboarding-cellular-data.png", class: 'responsive-img materialboxed', alt: 'Mobile Onboarding Cellular Data Option', title: 'Mobile Onboarding Cellular Data Option' %>
        </div>

        <div class="col-xs-6 col-md-4 col-lg-3 center-align">
          <%= image_tag "mobile/mobile-onboarding-helath-check-flow.png", class: 'responsive-img materialboxed', alt: 'Mobile Onboarding Health Check Flow', title: 'Mobile Onboarding Health Check Flow' %>
        </div>

        <div class="col-xs-6 col-md-4 col-lg-3 center-align">
          <%= image_tag "mobile/mobile-onboarding-user-settings.png", class: 'responsive-img materialboxed', alt: 'Mobile Onboarding User Settings', title: 'Mobile Onboarding User Settings' %>
        </div>

        <div class="col-xs-6 col-md-4 col-lg-3 center-align">
          <%= image_tag "mobile/mobile-onboarding-auto-sync-settings.png", class: 'responsive-img materialboxed', alt: 'Mobile Onboarding Auto Sync Settings', title: 'Mobile Onboarding Auto Sync Settings' %>
        </div>

        <div class="col-xs-6 col-md-4 col-lg-3 center-align">
          <%= image_tag "mobile/mobile-onboarding-auto-sync-settings-off.png", class: 'responsive-img materialboxed', alt: 'Mobile Onboarding Auto Sync Settings', title: 'Mobile Onboarding Auto Sync Settings' %>
        </div>

        <div class="col-xs-6 col-md-4 col-lg-3 center-align">
          <%= image_tag "mobile/mobile-onboarding-data-settings.png", class: 'responsive-img materialboxed', alt: 'Mobile Onboarding Data Settings', title: 'Mobile Onboarding Data Settings' %>
        </div>
      </div>
    </div>
  </section>

  <section class="section-padded">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <h4 class="subtitle pink-text text-lighten-1">Launch</h2>
          <p class="grey-text text-darken-3">The updated iOS and Android mobile and tablet apps were released concurrently and met with consistently positive feedback. We saw increases in user back up operations as well as the percentage of users enabling auto sync and also reduced the number of support tickets we received relating to cellular data usage.</p>

          <p>
            <%= link_to 'https://itunes.apple.com/us/app/forever/id808235823?ls=1&mt=8', class: "btn-large waves-effect waves-light pink lighten-1", title: "Download on the App Store" do %>
              <i class="material-icons left">tap_and_play</i>iOS
            <% end %>

            <%= link_to 'https://play.google.com/store/apps/details?id=com.forever.forever', class: "btn-large waves-effect waves-light pink darken-3", title: "Download on the App Store" do %>
              <i class="material-icons left">android</i>Android
            <% end %>
          </p>
        </div>
      </div>
    </div>
  </section>

</main>
