<main>
  <section class="section section-hero section-hero-zigzag valign-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3" id="responsive_web_intro">
          <p class="pink-text text-lighten-1 center-align">Responsive Web Design</p>
          <h2 class="title grey-text text-darken-3 center-align">Delivering huge results from a tiny ageny</h2>
          <p class="flow-text grey-text text-darken-2 center-align">At Media Post I was part of a three person team that regularly delivered custom, responsive Wordpress sites in addition to work in print, logos and identity design, and agency marketing projects.</p>

          <p class="center-align"><%= link_to "MediaPostInc.com", 'http://mediapostinc.com/', class: "btn-large waves-effect waves-light pink lighten-1", title: "Visit Mediapostinc.com" %></p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-highlight light-green lighten-5">
    <div class="container">
      <div class="row ">

        <div class="col-xs-12 col-md-6">
          <h5 class="pink-text text-lighten-1">Key Outcomes</h4>
          <ul class="browser-default list grey-text text-darken-1">
            <li><p class="list-content grey-text text-darken-3">On time launch of 20+ client marketing site rebuilds or rebrands in &lt; 18 months</p></li>
            <li><p class="list-content grey-text text-darken-3">Implementation of comprehensive project tracking and estimating process overhaul leading to improved forecasting and resource scheduling</p></li>
            <li><p class="list-content grey-text text-darken-3">Numerous <%= link_to 'Client Recommendations', 'https://www.linkedin.com/in/zachary-schweitzer-28037522/', class: 'link', title: 'Zachary Schweitzer on LinkedIn' %></p></li>
          </ul>
        </div>

        <div class="col-xs-12 col-md-6">
          <h5 class="pink-text text-lighten-1">Select Projects</h4>
          <ul class="browser-default list grey-text text-darken-1">
            <li><p class="list-content grey-text text-darken-3"><%= link_to 'Advanced Polymer Technology (APT)', 'http://www.advpolytech.com', class: 'link', title: 'Advanced Polymer Technology (APT)' %></p></li>
            <li><p class="list-content grey-text text-darken-3"><%= link_to 'Vision Early Childhood Center', 'http://www.visionchildcare.com/', class: 'link', title: 'Vision Early Childhood Center' %></p></li>
            <li><p class="list-content grey-text text-darken-3"><%= link_to 'Rodgers Brothers Inc.', 'http://www.rodgersbrothers.com/', class: 'link', title: 'Rodgers Brothers Inc.' %></p></li>
            <li><p class="list-content grey-text text-darken-3"><%= link_to 'The Catholic Funeral Plan', 'http://www.cfppgh.com/', class: 'link', title: 'The Catholic Funeral Plan' %></p></li>
          </ul>
        </div>

      </div>
    </div>
  </section>

  <section class="section-padded">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3">
          <h4 class="subtitle pink-text text-lighten-1">Everything Agency</h2>
          <p class="grey-text text-darken-3">I oversaw total client project management from hosting kickoff and strategy meetings through conducting client CMS training sessions. Internally, I managed our team production schedule and worked in close collaboration every day with our creative director and back-end developer to continually deliver beautiful, progressive web sites and compelling branded products.</p>
      </div>
    </div>
  </section>

  <section class="border-top-pink l-section">
    <div class="row">
      <div class="col-xs-12 center-align">
        <h4 class="subtitle grey-text text-darken-4">Project Gallery</h2>
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="col-xs-12 center-align">
          <%= image_tag "responsive_web/advanced-polymer-technologies-responsive-website.jpg", class: 'responsive-img materialboxed', alt: 'Advanced Polymer Technology (APT)', title: 'Advanced Polymer Technology (APT)' %>

          <p class="grey-text text-darken-3 left-align">Advanced Polymer Technologies is a global manufacturer of high-performance coatings and products used in the installation of sports tracks and fields and industrial applications. <%= link_to 'www.ADVpolytech.com', 'http://www.advpolytech.com', class: 'link', title: 'Advanced Polymer Technology (APT)' %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 center-align">
          <%= image_tag "responsive_web/vision-childcare-responsive-website.jpg", class: 'responsive-img materialboxed', alt: 'Vision Childcare', title: 'Vision Childcare' %>

          <p class="grey-text text-darken-3 left-align">Vision Early Childhood Center is a non-profit preschool and day care committed to providing academic excellence in a loving, Christian environment. <%= link_to 'www.VisionChildcare.com', 'http://www.visionchildcare.com', class: 'link', title: 'Vision Early Childhood Center' %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 center-align">
          <%= image_tag "responsive_web/rodgers-brothers-responsive-website.jpg", class: 'responsive-img materialboxed', alt: 'Rodgers Brothers Website', title: 'Rodgers Brothers Website' %>

          <p class="grey-text text-darken-3 left-align">With offices in Pittsburgh and Chicago, Rodgers Brothers Inc. needed a stylish responsive website to convey the caliber of their high-end financial services offerings.  <%= link_to 'www.RodgersBrothers.com', 'http://www.rodgersbrothers.com/', class: 'link', title: 'Rodgers Brothers Inc.' %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 center-align">
          <%= image_tag "responsive_web/catholic-funeral-plan-responsive-website.jpg", class: 'responsive-img materialboxed', alt: 'Catholic Funeral Plan Website', title: 'Catholic Funeral Plan Website' %>

          <p class="grey-text text-darken-3 left-align">The Catholic Funeral Plan is a faith-based funeral planning service that works to ensure that the funeral arrangements of Catholics are carried out in accordance with church tradition and each individual's personal, spiritual wishes. <%= link_to 'www.CfpPgh.com', 'http://www.CfpPgh.com', class: 'link', title: 'The Catholic Funeral Plan' %>
        </div>
      </div>

    </div>
  </section>
</main>
