$btn-icon-default-margin: 15px;
$btn-icon-width: 16px;
$custom-line-height: 45px; // override standard 54px border to account for border-width on custom button

.btn-contact {
  transition: width 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  .material-icons {
    @media #{$medium-and-up} {
      width: $btn-icon-width;
      margin-left: $btn-icon-default-margin;
    }
  }

  &:hover {
    box-shadow: $btn-shadow-hover;

    .material-icons {
      @extend .floating;
    }
  }
}

.btn {
  font-weight: 600;
  border-radius: $btn-border-radius;
}

i.left {
  margin-right: 11px; //this is a hack for small screen alignment on the mobile app case study
}