.carousel {
  &.carousel-slider .carousel-item {
    border: 2px solid color('pink', 'lighten-1');
    background-color: color('blue-grey', 'darken-4')
  }

  .indicators {
    background-color: transparentize(color('pink', 'lighten-1'), 0.1);

    .indicator-item {
      margin-top: 0;
      margin-bottom: 2px;
      background-color: transparentize(color('shades', 'white'), 0.6);

      &.active {
        background-color: color('shades', 'white');
      }
    }
  }
}