.footer-container {
  @extend .section-padded;
  padding-bottom: 2rem;
}

.footer-container-row {
  margin-bottom: 0;
}

.footer-row {
  @media #{$medium-and-down} {
    margin-bottom: 0; // compensates for browser default ul margin 
  }
}

.footer-attribution_text {
  margin-top: 3rem;
  font-size: $base-font-size * 0.7;
}