// Section Heros
.section-hero {
  background-position: center top;
  background-repeat: repeat;
}

.section-hero-zigzag {
  background-image: image-url('zigzag-pattern.gif');

  @media #{$small-and-down} {
    background-image: image-url('zigzag-pattern-sm.gif');
  }

  &-alt {
    background-position: 0% 12%;
  }
  &-alt2 {
    background-position: 65% 95%;
  }
}
