// Set these up for intro animations
#home_intro,
#growth_hacking,
#application_design,
#ecommerce,
#mobile,
#responsive_web,
#application_design_intro,
#ecommerce_intro,
#mobile_intro,
#responsive_web_intro
#growth_hacking_intro {
  visibility: hidden;
}

// custom positioning for home page elements
.circle-home {
  @media #{$small-and-down} {
    margin-top: -0.6rem;
  }
}

.title-home {
  font-weight: 800;

  @media #{$small-and-down} {
    margin-bottom: -1rem;
  }
}