$zizag-size: 100px;

main {
  overflow: hidden; // accounting for rotated cols
}

.header {
  position: relative;
  z-index: 1000; // ensures fixed logo is above sections w/ background-image | TODO: standardize z-index vars
}

.l-section {
  margin-top: 6rem;
}

.l-section-close {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

// apes row margin for responsive cols
.l-col_padded_mobile {
  @media #{$medium-and-down} {
    margin-bottom: 20px;
  }
}

// TODO - These are more like visual design styles than layout styles
// plus section-padded and seciton are totes redundant
.section-padded {
  padding-top: 4rem;
  padding-bottom: 4rem;

  @media #{$small-and-down} {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.section {
  @extend .section-padded
}

.section-highlight {
  @extend .section-padded;
  @include zigzag(color('light-green', 'lighten-5'), darken(color('light-green', 'lighten-5'), 3%), $zizag-size);
  box-shadow: inset 0px 0px 12px 2px transparentize(color('light-green', 'darken-4'), 0.9);
}

