$logo-block-height-base:  30px; // match banner height
$logo-block-size:  80px;
$logo-block-border-radius: 6px;

@mixin logo-show() {
  height: $logo-block-size;
  background-color: color('pink', 'lighten-1');
  background-position: right center;
  box-shadow: $btn-shadow;
  border-bottom-right-radius: $logo-block-border-radius;
  border-bottom-left-radius: $logo-block-border-radius;
}

.logo {
  display: block;
  position: fixed;
  top: 0;
  left: 10px;
  width: $logo-block-size;
  height: $logo-block-height-base;
  background: color('shades', 'white') image_url('logo.svg') left center no-repeat;
  transition: height 0.2s ease-in-out, background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out, top 0.5s ease-in-out;

  &:hover {
    @include logo-show();
  }

  &.logo-scroll {
    @include logo-show();

    &:hover {
      background-color: color('pink', 'lighten-2');
      box-shadow: $btn-shadow-hover;
    }
  }

  &.open {
    @include logo-show();
  }
}