@mixin zigzag($color-bg, $color-zig-zag, $size) {
  background:
    linear-gradient(135deg, $color-zig-zag 25%, transparent 25%) -($size / 2) 0,
    linear-gradient(225deg, $color-zig-zag 25%, transparent 25%) -($size / 2) 0,
    linear-gradient(315deg, $color-zig-zag 25%, transparent 25%),
    linear-gradient(45deg, $color-zig-zag 25%, transparent 25%); 
  background-size: $size $size;
  background-color: $color-bg;
}
