$nav-font-size: $base-font-size * 1.6;
$nav-font-size-lg: $base-font-size * 3;

.side-nav {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 0; // overrides .section
  padding-bottom: 0;
  overflow: hidden;
  transform: translateY(-100%) translateX(0) !important; // overriding out of the box js behavior
  transition: transform 0.5s ease-in-out;
  visibility: hidden; // make sure you don't see the nav on initial load  b/c the transform

  &.visible {
    visibility: visible;
  }

  &.open {
    transform: translateY(0) !important;
  }

  li {
    display: flex;
    flex-grow: 1;
    width: 100%;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: rgba(0, 0, 0, 0.05); // apes the default hover to set up floating effect
    }
  }

  .side-nav-link {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    height: auto;
    padding: 0;
    font-size: $nav-font-size;

    @media #{$medium-and-up} {
      font-size: $nav-font-size-lg;
    }

    &:hover {
      @extend .floating;
      background-color: transparent;
    }

    &.active {
      font-weight: 800;
    }
  }

  .side-nav-link-close {
    flex-grow: 0;
  }
}

i.close_nav {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: $nav-font-size;
  border-radius: 50%;
  z-index: 9999; // TODO: z-index scale variables
  transition: background-color 1s ease-in;

  @media #{$medium-and-up} {
    font-size: $nav-font-size-lg;
  }

  &:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05); // apes the default hover to set up floating effect
    @extend .spin-once;
  }
}

.side-nav-title_item {
  position: absolute;
  top: 0;
}

.side-nav-title {
  position: absolute;
  margin: 0;
  height: 0;
  flex-grow: 0;
  z-index: -1; // TODO z-index vars
  font-size: $base-font-size * 5;
  font-weight: 800;
  word-break: break-all;
  opacity: 0.1;

  @media #{$medium-and-up} {
    font-size: $base-font-size * 9;
  }
  @media #{$large-and-up} {
    font-size: $base-font-size * 10;
  }
  @media #{$extra-large-and-up} {
    font-size: $base-font-size * 12;
  }
}

#sidenav-overlay {
  @extend .white;
}
