$link-underline-size: 8px;

html {
  font-family: 'Lato', GillSans, Calibri, Trebuchet, sans-serif;
}

strong {
  font-weight: 600;
}

p {
  font-size: $base-font-size;
  line-height: 1.68;
}

h2,
h4,
h5 {
  font-weight: 800;
}

.list {
  padding-left: $base-font-size;
}

.title {
  @media #{$small-and-down} {
    font-size: 1.78rem;
  }
}

.subtitle {
  margin-top: 4rem;
}

.small {
  font-size: $base-font-size * 0.8;
}

// http://tobiasahlin.com/blog/css-trick-animating-link-underlines/
.link {
  position: relative;
  font-weight: 600;
  z-index: 1; // TODO Better use of zindex

  &:before {
    visibility: hidden;
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    background-color: transparentize(color('light-blue','accent-3'), 0.54);
    transition: all 0.2s ease-in-out;
    z-index: -1; // TODO Better use of zindex
  }

  &:hover:before {
    visibility: visible;
    height: $link-underline-size;
  }
}