$rotation: 5deg;

@mixin border($image, $image-height) {
  display: block;
  background-image: image-url($image);
  background-repeat: repeat-x;
  height: $image-height;
  content: '';
}

.border-top-green::before {
  @include border('green-banner.png', 30px);
}

.border-bottom-pink::after {
  @include border('pink-banner.png', 30px);
}

.border-top-pink::before {
  @include border('pink-banner.png', 30px);
}

.circle-bordered {
  box-shadow: 0 0 0 5px color('shades', 'white'), 0 0 0 10px color('pink', 'lighten-1');
}

.rotate-right {
  transform: rotate($rotation);
}

.rotate-left {
  transform: rotate(-$rotation);
}