<footer class="border-top-pink footer section-hero-zigzag" id="footer">
  <div class="container footer-container">
    <div class="row footer-container-row">

      <div class="col-xs-12 col-sm-6">
        <h5 class="grey-text text-darken-4">Contact Zach</h5>
        <ul class="row">
          <li class="col-xs-12 col-sm-6"><p class="l-section-close"><%= mail_to 'schweitzdesign@gmail.com', 'Email', title: 'Email schweitzdesign@gmail.com', class: 'link ' %></p></li>

          <li class="col-xs-12 col-sm-6"><p class="l-section-close"><%= link_to 'Twitter', 'https://twitter.com/schweitzdesign', title: 'Zachary Schweitzer on Twitter', class: 'link ' %></p></li>
          <li class="col-xs-12 col-sm-6"><p class="l-section-close"><%= link_to 'LinkedIn', 'https://www.linkedin.com/in/zachary-schweitzer-28037522/', title: 'Zachary Schweitzer on LinkedIn', class: 'link ' %></p></li>
          <li class="col-xs-12 col-sm-6"><p class="l-section-close"><%= link_to 'Instagram', 'https://www.instagram.com/schweitzdesign/', title: 'Zachary Schweitzer on Instagram', class: 'link ' %></p></li>

          <li class="col-xs-12 col-sm-6"><p class="l-section-close"><%= link_to 'Dribbble', 'https://dribbble.com/schweitzdesign', title: 'Zachary Schweitzer on Dribbble', class: 'link ' %></p></li>
          <li class="col-xs-12 col-sm-6"><p class="l-section-close"><%= link_to 'GitHub', 'https://github.com/schweitzdesign', title: 'Zachary Schweitzer on GitHub', class: 'link ' %></p></li>
        </ul>
      </div>


      <div class="col-xs-12 col-sm-6">
        <h5 class="grey-text text-darken-4">Case Studies</h5>
        <ul class='row'>
          <li class="col-xs-12 col-sm-6"><p class="l-section-close"><%= link_to 'Growth Hacking', growth_hacking_path, title: 'Growth Hacking', class: 'link ' %></p></li>
          <li class="col-xs-12 col-sm-6"><p class="l-section-close"><%= link_to 'Application Design', application_design_path, title: 'Application Design', class: 'link ' %></p></li>
          <li class="col-xs-12 col-sm-6"><p class="l-section-close"><%= link_to 'E-Commerce', ecommerce_path, title: 'E-Commerce', class: 'link ' %></p></li>
          <li class="col-xs-12 col-sm-6"><p class="l-section-close"><%= link_to 'Mobile Onboarding', mobile_design_path, title: 'Mobile Onboarding', class: 'link ' %></p></li>
          <li class="col-xs-12 col-sm-6"><p class="l-section-close"><%= link_to 'Responsive Web Design', responsive_web_path, title: 'Responsive Web Design', class: 'link ' %></p></li>
        </ul>
      </div>

      <div class="col-xs-12 center-align">
        <p class="grey-text text-darken-4 footer-attribution_text">Made with <%= link_to 'Materialize', 'http://materializecss.com/', class: 'link ', title: 'Materialize CSS' %>, <%= link_to 'SMACSS', 'https://smacss.com/', class: 'link ', title: 'Scalable and Modular Architecture for CSS' %>, <%= link_to "Flexbox Grid", "http://flexboxgrid.com/", class: 'link ', title: 'Flexbox Grid' %>, Ruby on Rails, Heroku, and Cloudfront. View source on <%= link_to "BitBucket.", "https://bitbucket.org/schweitzdesign/portfolio/overview", class: 'link ', title: 'View Source on BitBucket' %></p>
      </div>
    </div>
  </div>
</footer>
