<header class="border-top-green header" id="top">
  <div class="container">
    <div class="col s12 center-align">
      <%= link_to '#', title: 'Zachary Schweitzer Design Portfolio Navigation', :data => { :activates => 'slide-out', :turbolinks => "false"}, class: "button-collapse show-on-large logo valign-wrapper js-logo" do %>&nbsp;<% end %>
    </div>
  </div>

  <ul id="slide-out" class="side-nav section-nav pink lighten-1 center-align valign-wrapper">

    <li class="side-nav-title_item">
      <h1 class='side-nav-title white-text'>the Design Portfolio of Zachary Schweitzer</h1>
    </li>

    <li class="side-nav-link-close">
      <i id="#close-nav" class="material-icons white-text close_nav">close</i>
    </li>

    <li><%= link_to "Home", root_path, :data => { :turbolinks => "false" }, class: "side-nav-link white-text #{'active' if current_page?(root_path)}", title: 'Back to Zach' %></li>
    <li><%= link_to "Growth Hacking", growth_hacking_path, :data => { :turbolinks => "false" }, class: "side-nav-link white-text #{'active' if current_page?(growth_hacking_path)}", title: 'Growth Hacking Case Study' %></li>
    <li><%= link_to "Application Design", application_design_path, :data => { :turbolinks => "false" }, class: "side-nav-link white-text #{'active' if current_page?(application_design_path)}", title: 'Application Design Case Study' %></li>
    <li><%= link_to "E-Commerce",ecommerce_path, :data => { :turbolinks => "false" }, class: "side-nav-link white-text #{'active' if current_page?(ecommerce_path)}", title: 'E-commerce Design Case Study' %></li>
    <li><%= link_to "Mobile Apps", mobile_design_path, :data => { :turbolinks => "false" }, class: "side-nav-link white-text #{'active' if current_page?(mobile_design_path)}", title: 'Mobile App Design' %></li>
    <li><%= link_to "Responsive Web Design", responsive_web_path, :data => { :turbolinks => "false" }, class: "side-nav-link white-text #{'active' if current_page?(responsive_web_path)}", title: 'Responsive Web Design' %></li>
  </ul>
</header>

