<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0">

    <!-- Not quite ready for this to be globally accessible, but we still want the appropriate meta data for later -->
    <meta name="robots" content="noindex,nofollow">
    <meta name="google-site-verification" content="8dtzkteIPfgPhUt8Y4ZzSXUP8FR-gAd0pJJwYH_BZpc" />

    <title>Zachary Schweitzer | Pittsburgh Designer | UX, UI, Web Design, Graphic Design, Illustration</title>
    <meta name="description" content="Pittsburgh designer specializing in UX, UI, Web Design, Graphic Design, and Illustration.">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Pittsburgh UX, UI, Web Design, Graphic Design, and Illustration.">
    <meta property="og:url" content="http://www.zachschweitzer.com">
    <meta property="og:title" content="Pittsburgh Designer | UX, UI, Web Design, Graphic Design, and Illustration.">
    <meta property="og:description" content="Zachary Schweitzer is a creative designer specializing in UX, UI, Web Design, Graphic Design, and Illustration.">
    <meta property="og:image" content="//zachschweitzer.com/assets/images/zach-schweitzer.jpg">
    <meta property="og:image:type" content="image/jpg">
    <meta property="og:image:width" content="400">
    <meta property="og:image:height" content="400">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@schweitzdesign">
    <meta name="twitter:creator" content="@schweitzdesign">
    <meta name="twitter:title" content="Zachary Schweitzer | Pittsburgh Designer">
    <meta name="twitter:description" content="Zachary Schweitzer is a creative designer specializing in UX, UI, Web Design, Graphic Design, and Illustration.">
    <meta name="twitter:image" content="//zachschweitzer.com/assets/images/zach-schweitzer.jpg">

    <!-- CSS  -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Lato:700,300,300italic,900" rel="stylesheet">

    <%= csrf_meta_tags %>

    <!-- Favicons  https://realfavicongenerator.net/ -->
    <link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
    <link rel="manifest" href="/favicons/manifest.json">
    <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#ee4480">
    <meta name="theme-color" content="#ee4480">
  </head>

  <body>
    <%= render partial: 'layouts/header' %>
    <%= yield %>
    <%= render partial: 'layouts/footer' %>

    <script type="text/javascript">
      // set section height synchronously for overall page performance/user experience
      (function() {
        var divs = document.querySelectorAll('.section');

        [].forEach.call(divs, function(div) {
          div.style.minHeight = window.innerHeight * 0.93 + "px"
        });
      })();
    </script>

    <!--  Scripts-->
    <%= javascript_include_tag 'application', async: Rails.env.production? %>
  </body>
</html>
